.Weather {
  padding: 16px;
  color: #39394d;
  font-family: arial, sans-serif;
  border: 1px solid #39394d;
  border-radius: 4px;
}

.Weather h1 {
  margin: 20px 0 0 0;
  font-size: 28px;
  font-weight: 100;
  line-height: 36px;
}
.Weather ul {
  padding-left: 0;
}
.Weather li {
  list-style: none;
  font-size: 17px;
  font-weight: 100;
  line-height: 18px;
}

.Weather .temperature {
  margin-left: 15px;
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}
.Weather .unit {
  color: black;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}
